@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nós ajudamos a encontrar parentes desaparecidos!</h1>
    <img src="~/img/LogoInicial.webp" class="-img-home" />
    <div class="frase">
        <h5>Todos Juntos pelo Rio Grande do Sul!</h5>
    </div>
</div>
